* {
    margin: 0;
    padding: 0; 
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;

}

  main {


    }

header 
{
    background-color: RGB(47,47,83);


}

.header.logo
{
    margin-left:10%;
    display:inline-flex;

}
.header .caption
{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 25px;
    color: RGB(103,216,205);
}

.header .home
{
    color:RGB(103,216,205);
}

.header .say
{
    min-width: 100px;
}

nav ul
{
    list-style: none;
    display: inline-flex;
    flex-direction:row;
    margin-left: 70%;
    align-items:center;
}

nav li 
{
    margin-right:20px; 
    font-size:20px;
    font-weight:bold; 
    color:white;
}

.intro {
    background-color: gray;
    border: 2px black solid;
    height: 500px;
   
}


/* story section */

.story {
    margin: auto; 
    max-width: 900px; 
}

.story h3 {
    padding: 100px 0px 20px 235px; 
    text-transform: uppercase; 
    font-size: 20px; 
    position: relative;
    left: 80px; 
    color: #21233d;
}

.story img {
    float: left; 
    margin: 0 40px 0px 40px; 
}

.story.content {
    padding-left: 200px; 
}

.story.content  p {
    line-height: 1.5em;
    text-align: justify;
    padding: 10px;
    color: #21233d
}

.learnbtn {
    margin-top: 20px;
    left: 42%;
    position: absolute;
     
}

input[type=button] {
    color: #59dade; 
    border: 1px #59dade solid;
    padding: 10px 20px 10px 20px;
    background-color: white;
    font-weight: 900;
    transition: transform 0.5s; 
}

.learnbtn input[type=button]:hover {
    color: #59dade; 
    transform: scale(0.9);
}

/* story section ends */ 

.storyVideo img {
    cursor:pointer;
    min-width: 100%; 
    margin-top: 150px;
    margin-bottom: 90px;
}

.playbtn {
    position: absolute;
    top: 1165px;
    left: 790px; 
    transition: transform 0.5s; 
    width: 8%; 
    padding-bottom: 0px; 
}

.playbtn span {
    color: white;
    font-size: 22px; 
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto; 
    padding-top: 0; 
}


.playbtn:hover {
    transform: scale(0.9)
}

.expertise {
    margin-bottom: 200px;
    align-items: center;
}


.expertise > h3 , p {
    text-align: center;
    padding-top: 15px;
    color: #21233d

}

.expertise > h3 {
    text-transform: uppercase;

}

hr {
    width: 10%; 
    align-items:  center;
    margin:auto;
    margin-top: 25px;
    color: #21233d
}

.icons {
    display: flex;
    padding-top: 80px;
    flex-flow: wrap;
    margin: 0 20% 0 20%; 
    justify-content: center;
    
}
 
.icon {
    width: 30%; 
    border: 0.10px #f2f2f2 ridge;
    padding-top: 80px;
    
    
}

.icon h4 {
    text-transform: uppercase;
    text-align: center;
    color: #21233d
}

.icon p {
    padding: 10px 40px 40px 40px; 
    text-align: center;
    color: #21233d
    

}

.icon img {
    left: 130px; 
    position: relative;
    padding-bottom: 30px;



    
}
