* {
    margin: 0;
    padding: 0; 
}



html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;

}

/* header and body section */
/*-- Header is made of two div (headMain & intro) */

header 
{
    background-image: url('images/bgk-header.png');
    height:670px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    
}


.headerMain
{
    display:flex;
    justify-content: space-between;
    height:10%;
}

.headerLogo
{
    display:flex;
    justify-content: left;
    align-items:center;
    flex-direction:row;
    margin-left:15%
}

.headerLogo p
{
  color: RGB(103,216,205);
  margin-left:5px;
  font-size:35px;
  
}



.headerHome
{
    color:RGB(103,216,205);
}

.headerSay
{
    min-width: 100px;
}

nav 
{
    margin:auto;
    max-width:900px;
    justify-self: center;
}

nav a,
nav a:active
{
    text-decoration:none;
    color:white;
}



nav ul
{
    list-style: none;
    display: flex;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
}

nav li 
{
    margin-right:20px; 
    font-size:20px;
    font-weight:bold; 
    color:white;
}


/* header and body section ends */

/* intro section */



.intro {
    margin:auto;
    max-width:900px;
    height:85%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding-bottom:20px;

    color:white;
    text-align:center;
}

.introButton {
    padding-top:50px;
}
.intro h2 {
    font-size: 50px;
    font-weight:bolder;
}

.introBar {
    border-top: 2px solid RGB(103,216,205);
    width:50px;
    margin:20px 0px 20px 0px;
}

.intro p {
    font-size: 18px;  
    line-height: 1.9em;

}

/* intro section ends */


/* story section */

.story {
    margin: auto; 
    max-width: 900px; 
}

.story h3 {
    padding: 80px 0px 20px 235px; 
    text-transform: uppercase; 
    font-size: 20px; 
    position: relative;
    left: 80px; 
    color: #21233d;
}

.story img {
    float: left; 
    margin: 0 40px 0px 40px; 
}

.story.content {
    padding-left: 200px; 
}

.story.content  p {
    line-height: 1.5em;
    text-align: justify;
    padding: 5px;
    color: #21233d;
    font-size: 18px;
}

.learnbtn {
    margin-top: 20px;
    left: 42%;
    position: absolute;  
}

input[type=button] {
    color: #59dade; 
    text-transform: uppercase;
    border: 1px #59dade solid;
    background-color:transparent;
    padding: 10px 20px 10px 20px;
    font-weight: 900;
    transition: transform 0.5s; 
}

.learnbtn input[type=button]:hover,
.introButton input[type=button]:hover,
.teamButton input[type=button]:hover
 {
    color: #fff;
    background-color: #59dade;
    transform: scale(0.9);
}


/* story section ends */ 


/* storyVideo section */

.storyVideo img {
    min-width: 100%; 
    margin-top: 150px;
    margin-bottom: 20px;
}

.playbtn{
    position: absolute;
    top: 1260px;
    left: 790px; 
    transition: transform 0.5s; 
    width: 8%; 
}

.storyVideo span {
    color: #f2f2f2;
    font-size: 22px; 
    text-align: center;
    margin: auto; 
    text-transform: uppercase; 
    position: relative;
    top: -200px; 
    left: 745px; 
    letter-spacing: 0.1em;
    
}


.playbtn:hover {
    transform: scale(0.9)
}

/* storyVideo section ends */


/* expertise section */

.expertise {
    margin-top: 20px; 
    margin-bottom: 80px; 
    align-items: center;
    
}



.expertise > h3, .expertise p {
    text-align: center;
    padding-top: 15px;
    color: #21233d;
    font-size: 18px; 

}

.expertise > h3 {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    color: #21233d;
}

hr {
    width: 10%; 
    align-items:  center;
    margin:auto;
    margin-top: 25px;
    color: #21233d
}

.icons {
    display: flex;
    padding-top: 60px;
    flex-flow: wrap;
    margin: 0 20% 0 20%; 
    justify-content: center;
    
}
 
.icon {
    width: 30%; 
    border: 0.10px #f2f2f2 ridge;
    padding-top: 60px;
    transition: transform 5s; 
}

.icon img:hover {
    transform: scale(1.3);
}

.icon h4 {
    text-transform: uppercase;
    text-align: center;
    color: #21233d
}

.icon p {
    padding: 10px 40px 40px 40px; 
    text-align: center;
    color: #21233d 
}

/* expertise section ends */


/* team section */

.team {
    background-image: url('images/bgk-header.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    padding-bottom: 50px;

    

}

.team h3
{
    padding-top:40px;
    margin-bottom:10px;
    text-transform:uppercase;
}

.teamBar {

    width:50px;
    border-top:2px solid grey;
    margin:auto;
    padding:10px 0px 30px;
}


.teamContent {

    max-width:900px;
    flex-grow:3;
    display:flex;
    flex-direction:column;
    align-items:space-around;
    justify-content:center;
    color: white;
    text-align:center;
}

.teamAll {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
    align-items: center;
}

.teamStaffName a {
    color:white;
    text-decoration: none;
}
.teamStaffName a:hover {
    color:#59dade;
    transform: scale(2.3);
}
p.dreamteam {
    padding:50px 0px 15px 0px;
}
.teamStaff {
    width:200px;
    height:300px;
    border: 1px solid black;
    display:flex;
    flex-direction:column-reverse;
    border:1px solid RGB(121,121,142);;

}

.teamStaffName {
    padding-top:30px;
    text-align:center;
    height:75px;
    color:white;
    text-transform:uppercase;
    border-top:1px solid RGB(121,121,142);
}

.teamStaffTitle {
    padding-top:5px;
    font-size:0.75em;
    color: RGB(121,121,142);

}
.teamStaffPic {

    height:200px;    
}

.team img {
    height:199px;
    width:199px;
}

.teamContent > p {
    font-size: 20px;

}



.icon img {
    left: 130px; 
    position: relative;
    padding-bottom: 30px; 
}

/* team section ends */


/* form section */

.container {
    display: flex;
    width: 100%; 
    flex-flow:  wrap; 
    margin-bottom: 150px;
    margin-top: 100px;
}

.form {
    margin-left: 10%; 
    flex: 1; 
}

.form h4, .client h4 {
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #21233d; 
    font-size: 25px;
}

.client h4 {
    margin-left: 100px; 
}

.form input {
    padding: 20px 30px;
    width: 75%; 
    margin-top: 2%;
    border: 2px #f2f2f2 ridge;
}

.form input[value="SUBMIT"]  {
    background-color: transparent;
    color: #59dade;
    border: 1px #59dade solid; 
    font-weight: 700;
    text-align: center;
    padding: 15px 30px 15px 30px;
    transition: transform 0.5s;  
    width: 25%;
    font-size: 16px;    
}

.form input:focus {
    color:#59dade;
}

#message {
    padding-bottom: 250px; 
}

.form input[value="SUBMIT"]:hover {
    color: #fff;
    background-color: #59dade;
    transform: scale(0.9);
}

.client { 
    flex: 1;
    height: 40vh; 
    margin-right: 10%;
}

.client img {
    box-sizing: border-box; 
    padding: 20px;
    object-fit: cover; 
    margin: 10px 0 10px 100px;
}


/* form section ends */

/* footer */

footer {
    background-image: url(/images/bgk-footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh; 
}

